body{
    margin: 0;
}

h1{
    text-align:center; 
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    width:50px;
}

#ui{
    margin: 0;
    position: absolute;
    top:10px;
    left:10px;
}

#main-menu{
    margin: 0;
    text-align:center;
    top:10px;
    left:10px;
}

#controls-menu{
    margin: 10px;
    text-align:center;
    top:10px;
    left:10px;
}
